name: Deploy Flask to Staging

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install python3-venv -y
          python3 -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt

      - name: Run Flask Application
        run: |
          sudo systemctl restart flaskapp
